//**************************/
//*  Current theme colors  */
//**************************/

// BackGrounds
$base: #121212;
// Destac colors
$highlight: #7B68EE;
// Font colors 
$font: #708090;
// Border radius 
$defalt-radius: 10;
