@import "colors.scss";

* {
  all: unset;
}

//Global Styles

window {
  background-color: transparent;
  color: $font;
  font-family: monospace;
}

button { 
  all: unset;
  background-image: radial-gradient(circle farthest-side at center, transparent 100%, transparent 100%);
  transition: 1000ms, background-size 1000ms cubic-bezier(0, 0, 0.2, 2), background-image 100ms cubic-bezier(0, 0, 0.2, 3);
  padding: 10px;
}

tooltip {
  background-color: $base;
  font-family: Ubuntu;
  font-size: 16px;
  color: $font;
}

@mixin inline-animation($duration) {
  $name: inline-#{unique-id()};
  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: infinite;
}

/// Hobby

.hobby { 
  background-color: rgba($base, 0.0);
}

.face {
  background-image: url('Icons/Candy/face.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#6399ff, 0.5);
  min-height: 130px;
  min-width: 200px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2.5px;
  border-radius: 0px;
}

.face:hover {
  background-image: url('Icons/Candy/face-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#6399ff, 0.3);

}

.insta {
  background-image: url('Icons/Candy/insta.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#ff6060, 0.5);
  min-height: 130px;
  min-width: 250px;
  margin-left: 2.5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 0px;
}

.insta:hover {
  background-image: url('Icons/Candy/insta-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#ff6060, 0.3);
}

.tube {
  background-image: url('Icons/Candy/tube.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#ff2222, 0.5);
  min-height: 100px;
  min-width: 250px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 2.5px;
  border-radius: 0px;
}

.tube:hover {
  background-image: url('Icons/Candy/tube-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#ff2222, 0.3);
}

.twitter {
  background-image: url('Icons/Candy/twitter.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#00fff3, 0.5);
  min-height: 130px;
  min-width: 238px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 2.5px;
  border-radius: 0px;
}

.twitter:hover {
  background-image: url('Icons/Candy/twitter-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#00fff3, 0.3);
}

.tele {
  background-image: url('Icons/Candy/tele.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#00cfff, 0.5);
  min-height: 130px;
  min-width: 250px;
  margin-left: 2.5px;
  margin-top: 0px;
  margin-bottom: 5px;
  border-radius: 0px;
}

.tele:hover {
  background-image: url('Icons/Candy/tele-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#00cfff, 0.3);
}

.discord {
  background-image: url('Icons/Candy/discord.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#bb69ff, 0.5);
  margin-left: 2.5px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 5px;
  min-height: 130px;
  min-width: 212px;
  border-radius: 0px;
}

.discord:hover {
  background-image: url('Icons/Candy/discord-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#bb69ff, 0.3);
  }

.red {
  background-image: url('Icons/Candy/red.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#ff450c, 0.5);
  min-height: 130px;
  min-width: 200px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 2.5px;
  border-radius: 0px;
}

.red:hover {
  background-image: url('Icons/Candy/red-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#ff450c, 0.3);
}


.net {
  background-image: url('Icons/Candy/net.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#ff0000, 0.5);
  min-height: 130px;
  min-width: 250px;
  margin-left: 2.5px;
  margin-top: 0px;
  margin-bottom: 5px;
  border-radius: 0px;
}

.net:hover {
  background-image: url('Icons/Candy/net-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#ff0000, 0.3);
}


.git {
  background-image: url('Icons/Candy/git.svg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#FF6642, 0.5);
  min-height: 130px;
  min-width: 250px;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 2.5px;
  border-radius: 0px;
}

.git:hover {
  background-image: url('Icons/Candy/git-hover.svg');
  background-size: 130px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-color: rgba(#FF6642, 0.3);
  
}

expander {
  all: unset;
  // Make up for the translation
  padding-left: 8px;
  background-color: $base;
  font-size: 15px;
}
expander title {
  font-weight: 100;
}
expander title:hover {
  font-weight: bold;
}
expander arrow {
  all: unset;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 25px;
  min-height: 30px;
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  -gtk-icon-transform: rotate(-90deg) translateY(-8px);
  color: $base;

}
expander arrow:dir(rtl) {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
expander arrow:checked {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  // Since we rotated -90, we have to add this to rotate back
  -gtk-icon-transform: rotate(0deg) translateX(-8px);
}
expander arrow:checked:hover {
  -gtk-icon-transform: rotate(0deg) translateX(-4px);
  color: $highlight;
}
expander arrow:hover, expander arrow:active {
  -gtk-icon-transform: rotate(-90deg) translateY(-4px);
  color: $highlight;
}

/// Power

.power {
  background-color: rgba($base, 0.6);
  
}

.icon_user {
  background-size: 300px;
  background-repeat: no-repeat;
  background-color: rgba($font, 0.2);
  background-position: center;
  min-height: 140px;
  min-width: 140px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 140px;
}

.icon_user:hover {
  background-size: 310px;
  background-repeat: no-repeat;
  background-color: rgba($font, 0.1);
  background-position: center;
}

.pack-info {
  font-size: 15px;
  background-color: rgba($font, 0.2);
  border-radius: $defalt-radius;
  padding: 10px;
  margin-left: 30px;
  margin-right: 40px;
  margin-bottom: 50px;

}

.button_power {
  background-image: url('Icons/Candy/power.svg');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: top;
  background-color: transparent;
  min-height: 30px;
  min-width: 30px;
  margin-top: 2px;
  margin-bottom: 20px;
  margin-right: 60px;
}

.button_power:hover {
  background-image: url('Icons/Candy/power-hover.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.button_reboot {
  background-image: url('Icons/Candy/reboot.svg');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: top;
  background-color: transparent;
  min-height: 30px;
  min-width: 30px;
  margin-top: 2px;
  margin-bottom: 20px;
  margin-right: 60px;
}

.button_reboot:hover {
  background-image: url('Icons/Candy/reboot-hover.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.button_exit {
  background-image: url('Icons/Candy/exit.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: top;
  background-color: transparent;
  min-height: 30px;
  min-width: 30px;
  margin-top: 2px;
  margin-bottom: 20px;
}

.button_exit:hover {
  background-image: url('Icons/Candy/exit-hover.svg');
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: bottom;
}

/// Spotify & Volume

.volume {
  background-color: rgba($base, 0.8);
}

.label-vol {
  font-size: 25px;
  margin-right: 70px;;
}

.volume scale trough highlight {
  all: unset;
  background: $highlight;
  color: #000000;
  border-radius: $defalt-radius;
}

.volume scale trough {
  all: unset;
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: $defalt-radius;
  min-height: 15px;
  min-width: 120px;
  margin-right: 30px;
}

.playerspotify {
  background: rgba($base, 0.6)
}

.icon-spotify {
  background-size: 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  min-height: 220px;
  min-width: 220px;
}

.spoti-control {
  background-color: rgba($base, 0.6);
  padding: 10px;
}

.spoti-control-music {
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 20px;
  min-width: 20px;
  background-color: transparent;
}

.spoti-control-music:hover {
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center;
}

/// Calendar 

.icon-calendar {
  background-image: url('Icons/Candy/calendar.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: left;
  background-color: transparent;
  min-height: 50px;
  min-width: 50px;
  font-family: Ubuntu Bold;
  font-size: 40px;
  margin-bottom: 20px;
}

calendar {
  background-color: transparent;
  font-size: 20px;
  padding: 18px;
}

calendar:selected {
  border-radius: 20px;
  border-style: double;
  border-width: 15px;
  color: $highlight;
  background: linear-gradient(360deg, $highlight 0%, transparent 60%);
}

calendar.header {
  color: $font;
  font-weight: bold;
  font-size: 30px;
  background-color: transparent;

}

calendar.button {
  background-color: transparent;
  color: $highlight;
}


calendar.highlight {
  color: $base;
  background-color: transparent;
  color: $highlight;
}

calendar:indeterminate {
  color: #393939;
}

.calendar {
  background-color: rgba($base, 0.6);
}

.calendarwin {
  background-color: rgba($base, 0.2);
  color: $font;
  font-family: Ubuntu Bold;
  padding: 15px;
}

.cpu {
  background-color: rgba($base, 0.6);
}

.cpu scale trough highlight {
  all: unset;
  background: #00cfff;
  color: #000000;
  border-radius: $defalt-radius;
}

.cpu scale trough {
  all: unset;
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: $defalt-radius;
  min-height: 15px;
  min-width: 150px;
  margin-left: 10px;
}

.label-cpu {
  font-family: Ubuntu Bold;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;

}

.icon-cpu {
  background-image: url('Icons/cpu.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00cfff;
  min-height: 50px;
  min-width: 50px;
}

.mem {
  background-color: rgba($base, 0.6);
  margin-top: 10px;
}

.mem scale trough highlight {
  all: unset;
  background: #bb69ff;
  color: #000000;
  border-radius: $defalt-radius;
}

.mem scale trough {
  all: unset;
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: $defalt-radius;
  min-height: 15px;
  min-width: 150px;
  margin-left: 10px;
}

.label-mem {
  font-family: Ubuntu Bold;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;

}

.icon-mem {
  background-image: url('Icons/ram.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #bb69ff;
  min-height: 50px;
  min-width: 50px;
}

.disk {
  background-color: rgba($base, 0.6);
  margin-top: 10px;
}

.disk scale trough highlight {
  all: unset;
  background: #00fff3;
  color: #000000;
  border-radius: $defalt-radius;
}

.disk scale trough {
  all: unset;
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: $defalt-radius;
  min-height: 15px;
  min-width: 150px;
  margin-left: 10px;
}

.label-disk {
  font-family: Ubuntu Bold;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;

}

.icon-disk {
  background-image: url('Icons/ssd.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00fff3;
  min-height: 50px;
  min-width: 50px;
}

.temp {
  background-color: rgba($base, 0.6);
  margin-top: 10px;
}

.temp scale trough highlight {
  all: unset;
  background: #FF6642;
  color: #000000;
  border-radius: $defalt-radius;
}

.temp scale trough {
  all: unset;
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: $defalt-radius;
  min-height: 15px;
  min-width: 150px;
  margin-left: 10px;
}

.label-temp {
  font-family: Ubuntu Bold;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;

}

.icon-temp {
  background-image: url('Icons/temp.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FF6642;
  min-height: 50px;
  min-width: 50px;
}

.colunm1, .colunm2, .colunm3 {
  background-color: rgba($base, 0.6);
  color: $font;
  font-size: 30px;
  padding: 10px;
}

.one, .two, .tree {
  border-style: groove;
  border-width: 2px;
  border-radius: 10px;
  padding: 30px;
  margin: 5px;
}

.one:hover, .two:hover, .tree:hover {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 30px;
  margin: 5px;
}