//**************************/
//*  Current theme colors  */
//**************************/

// BackGrounds
$base: rgba(#EBF5F7, 1);
// Destac colors
$highlight: rgba(#c4a3d2, 1);
// Font colors 
$font: rgba(#212121, 1);
// Border colors
$border: rgba(#0e080e, 1);