/**************************/
/*  Current theme colors  */
/**************************/

/* BackGrounds */
$base: rgba(#1E1E28, 1);
/* Destac colors */
$highlight: rgba(#c4a3d2, 1);
//* Font colors */ 
$font: rgba(#FFFFFF, 1);
/* Border colors */
$border: rgba(#f8edf0, 1); 

